.container {
  margin: auto;
  max-width: 80%;
}

.card {
  margin-bottom: 15px;
}

.card-header {
  background-color: rgba(190, 190, 190, 0.596);
  border: 1px solid;
  padding: 10px;
}

.card-title {
  margin: 0;
}

.card-body {
  border: 1px solid;
  border-top: 0;
  padding: 10px;
}
